.DataCollection {
    padding-top: 36px;
    background-color: #93c47dff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    max-width: initial;
}

.DataCollection .placeHolder {
    width: 600px;
}

.DataCollection .icon {
    padding-left: 10px !important;
}

.DataCollection p {
    color: black;
}

.DataCollection .icon-button {
    background-color: transparent;
    border-color: transparent;
}

.DataCollection .relative {
    position: relative;
}

.DataCollection .recording {
    border-color: red;
    border-width: 3px;
    border-style: solid;
    animation: blink 1s alternate infinite;
    height: 51vh;
}
.DataCollection .not-recording {
    height: 50vh;
}

.DataCollection .map {
    height: 50vh;
    /*padding-top: 36px;*/
}
.DataCollection inline-buttons {
    display: inline-block;
}
@keyframes blink{
    0%{opacity: .25;}
    50%{opacity: .75;}
    100%{opacity: 1;}
}