.POI {
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: #93c47dff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .POI .placeHolder {
    min-width: 400px;
    height: 33vh;
    width: 50vw;
  }

  .POI .icon {
    padding-left: 10px !important;
  }
  
  .POI p {
    color: black;
  }
  
  .POI .relative {
    position: relative;
  }

  .POI .loaderWrapper {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    position: relative;
    top: -100%;
  }

  .POI .preview {
    height: inherit !important;
    width: 100% !important;
    object-fit: contain;
    position: relative;
    top: 18px;
  }

  .POI .previewButton {
    position: relative;
    bottom: 35px;
  }

  .POI .placeHolder video {
    width: 100% !important;
    object-fit: contain;
    max-width: 434px;
    padding-top: 5px;
  }